<div class="header">
    <img class="logo" src="{{asset('assets/images/logo.png')}}" alt="logo">
    <nav>
        <li><a href="{{path('app_homepage')}}">Home</a></li>
        <li><a href="{{path('app_homepage')}}">Tricks</a></li>
        {% if  app.user %}
        <li><a href="{{path('app_logout')}}">Déconnexion</a></li>
        {% else %}
        <li><a href="{{path('app_login')}}">Connexion</a></li>
        <li><a href="{{path('app_register')}}">Inscription</a></li>
        {% endif %}
    </nav>
</div>