{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}

{% block body %}
<div class="trick-content">
    <ul class="list-pills">
        {% for group in trick.group %}
        <li class="pills">{{group.name}}</li>
        {% endfor %}
    </ul>

    <h1> {{trick.name}}</h1>
    <h2>{{trick.description}}</h2>

    <ul class="trick-list">
        {% for picture in trick.pictures %}
        <li>
            <img src="{{asset('assets/uploads/tricks_pictures/'~ picture.getTrick.getId ~ '-' ~ picture.getId ~'.webp')}}" alt="">
            
        </li>
        {% endfor %}
    </ul>

    <ul class="trick-list">
        {% for video in trick.videos %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.getLink}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        {% endfor %}
    </ul>

    <div id="comments">
        <h3>Commentaires</h3>
        {% if app.user %}
        
            {{ form_start(commentForm) }}
            <div class="comment-form">
                {{ form_row(commentForm.content) }}
                <button class="pills comment-button" type="submit">Valider</button>
            </div>
                {{ form_end(commentForm) }}
        
        {% endif %}
        <div class="comment-list">
        {% for comment in comments.data %}
            <li class="comment-content">
                {% if comment.user.profilePic == '' %}
                <img src="{{asset('assets/uploads/profile_pics/default-profile-pic.png')}}" alt="Photo de profile par défaut">
                {% else %}
                <img src="{{asset('assets/uploads/profile_pics/' ~ comment.user.profilePic ~ '.webp')}}" alt="Photo de profile de {{comment.user.username}}">
                {% endif %}
                <strong>{{comment.user.username}} le {{comment.createdAt|date('d-m-Y')}}</strong> : {{comment.content}}
            </li>
        {% endfor %}
        </div>
        {% if comments.pages > 1 %}
            <ul class="list-nav">
                {% if comments.page > 1  %}
                <li><a href="{{ path('app_trick',{slug:trick.slug, page:comments.page - 1})}}">&lt;</a></li>
                {% endif %}
                {% for page in 1..comments.pages %}
                    <li 
                    {% if comments.page == page %}
                        class="select-nav"
                    {% endif %}
                    >
                        <a href="{{path('app_trick', {slug:trick.slug, page:page})}}">{{page}}</a>
                    </li>
                {% endfor %} 

                {% if comments.page < comments.pages %}
                    <li><a href="{{ path('app_trick',{slug:trick.slug, page:comments.page + 1})}}">&gt;</a></li>
                {% endif %}
            </ul>
        {% endif %}

    </div>
</div>
{% endblock %}
