{% extends 'base.html.twig' %}

{% block title %}SnowTricks - {{trick.name}}{% endblock %}

{% block body %}
<div class="trick-content">
    <div class="trick-hero">
        {% set picture = trick.pictures|first %}
        {% if picture %}
            <img class="trick-hero-img" src="{{asset('assets/uploads/tricks_pictures/'~ trick.getId ~ '-' ~ trick.pictures[0].getId ~'.webp')}}" alt="Image illustrant {{trick.getName}}">
        {% else %}
            <img class="trick-hero-img" src="{{asset('assets/uploads/tricks_pictures/default-picture.png')}}" alt="Image illustrant {{trick.getName}}">
        {% endif %}
        <h1> {{trick.name}}</h1>
        {% if app.user %}
            <div class="trick-management">
            <a href="{{path('app_edit_trick', {'slug' : trick.slug})}}"><img src="{{asset('assets/images/icon-edit.png')}}" alt="Icone d'édition"></a>
            <img class="delete-button" id="{{trick.name}}" slug="{{trick.slug}}" src="{{asset('assets/images/icon-trash.png')}}" alt="Icone de suppression">
        </div>
        {% endif %}
        
    </div>

    <div id="modal">
        <h1 class="modal-content">Voulez-vous Supprimer la figure {{trick.name}}</h1>
        <div class="modal-buttons">
            <a class="modal-button"  href="{{path('app_remove_trick', {slug : trick.slug})}}">Supprimer</a>
            <div class="modal-button" id="modal-cancel">Annuler</div>
        </div>
        
        <div id="modal-close">X</div>
    </div>

    <div class="trick-media-list">
        {% for picture in trick.pictures %}
        
            <img src="{{asset('assets/uploads/tricks_pictures/'~ picture.getTrick.getId ~ '-' ~ picture.getId ~'.webp')}}" alt="Image illustrant {{trick.getName}}">
            
        
        {% endfor %}


        {% for video in trick.videos %}
        <iframe width="200" height="200" src="https://www.youtube.com/embed/{{video.getLink}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        {% endfor %}
    </div>
 
    <div class="show-medias"><button class="pills" id="show-medias-button" type="button">Voir les médias</button></div>
    
    <h2>{{trick.description}}</h2>

    

    <ul class="trick-list-pills">
        {% for group in trick.group %}
        <li class="pills">{{group.name}}</li>
        {% endfor %}
    </ul>
    <div class="trick-info">
        <span>Figure créé le {{trick.createdAt|date('d-m-Y') }}
            {% if trick.updatedAt %}
                et modifé le {{trick.updatedAt|date('d-m-Y')}}
            {% endif %}
        </span>
    </div>

    
   

    

    <div id="comments">
        <h3>Commentaires</h3>
        {% if app.user %}
        
            {{ form_start(commentForm) }}
            <div class="comment-form">
                {{ form_row(commentForm.content) }}
                <button class="pills comment-button" type="submit">Valider</button>
            </div>
                {{ form_end(commentForm) }}
        
        {% endif %}
        <div class="comment-list">
        {% for comment in comments.data %}
            <li class="comment-content">
                {% if comment.user.profilePic == '' %}
                <img src="{{asset('assets/uploads/profile_pics/default-profile-pic.png')}}" alt="Photo de profile par défaut">
                {% else %}
                <img src="{{asset('assets/uploads/profile_pics/' ~ comment.user.profilePic ~ '.webp')}}" alt="Photo de profile de {{comment.user.username}}">
                {% endif %}
                <strong>{{comment.user.username}} le {{comment.createdAt|date('d-m-Y')}}</strong> : {{comment.content}}
            </li>
        {% endfor %}
        </div>
        {% if comments.pages > 1 %}
            <ul class="list-nav">
                {% if comments.page > 1  %}
                <li><a href="{{ path('app_trick',{slug:trick.slug, page:comments.page - 1})}}">&lt;</a></li>
                {% endif %}
                {% for page in 1..comments.pages %}
                    <li 
                    {% if comments.page == page %}
                        class="select-nav"
                    {% endif %}
                    >
                        <a href="{{path('app_trick', {slug:trick.slug, page:page})}}">{{page}}</a>
                    </li>
                {% endfor %} 

                {% if comments.page < comments.pages %}
                    <li><a href="{{ path('app_trick',{slug:trick.slug, page:comments.page + 1})}}">&gt;</a></li>
                {% endif %}
            </ul>
        {% endif %}

    </div>
</div>
<script>
    let showMedia = false;
    let toggleMediaButton, trickMediaList;
    let deleteButton, modal, modalCancel, modalClose;
    window.onload = ()=>{
        toggleMediaButton = document.querySelector('#show-medias-button');
        trickMediaList = document.querySelector('.trick-media-list');

        deleteButton = document.querySelector('.delete-button');
        modal = document.querySelector('#modal');
        modalCancel = document.querySelector('#modal-cancel');
        modalClose = document.querySelector('#modal-close');

        modalCancel.addEventListener('click', closeModal);
        modalClose.addEventListener('click', closeModal);

        deleteButton.addEventListener('click', onClickDeleteButton);
        
        toggleMediaButton.addEventListener('click', onClickToggleMedia)
    }

    function closeModal(){
        modal.style.display = 'none';
    }

    function onClickDeleteButton(){
        modal.style.display = 'block';
    }

    function onClickToggleMedia(){
        showMedia = !showMedia;
        if(showMedia){
            toggleMediaButton.innerText = 'Cacher les médias';
            trickMediaList.style.display = 'grid';
            
        } else {
            toggleMediaButton.innerText = 'Voir les médias';
            trickMediaList.style.display = 'none';
        }
    }
</script>
{% endblock %}
